<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodCourtGo">
        <activity
            android:name=".login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.SignUpActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".users.HomeActivity" />
        <activity android:name=".users.menu.DetailTenantActivity" />
        <activity android:name=".users.TakeAwayDineInActivity" />
        <activity android:name=".users.QrScannerActivity" />
        <activity android:name=".users.menu.MenuOptionActivity" />
        <activity android:name=".users.menu.PaymentActivity" />
        <activity android:name=".users.menu.StatusPesananActivity" />
        <activity android:name=".users.menu.CartActivity" />
        <activity android:name=".users.CategoryActivity" />
        <activity android:name=".users.SavedTenantsActivity" />
        <activity android:name=".users.UserProfileActivity" />
        <activity android:name=".admin.DashboardAdmin.DashboardAdminActivity" />
        <activity android:name=".admin.TenantManagement.TenantManagementActivity" />
        <activity android:name=".admin.MenuManagement.MenuManagementActivity" />
        <activity android:name=".admin.Pesanan.PesananActivity" />
        <activity android:name=".admin.Pesanan.DetailPesananActivity" />
        <activity android:name=".admin.DashboardAdmin.LaporanActivity" />
        <activity android:name=".admin.ProfilAdminActivity.ProfilAdminActivity" />
        <activity android:name=".admin.MejaManagement.MejaManagementActivity" />
        <activity android:name=".admin.MejaManagement.AdminAddMejaActivity" />
        <activity android:name=".admin.TenantManagement.AdminAddTenantActivity" />
        <activity android:name=".admin.MenuManagement.AdminAddMenuActivity" />
        <activity android:name=".tenant.dashboard.TenantDashboardActivity" />
        <activity android:name=".tenant.pesanan.TenantOrdersActivity" />
        <activity android:name=".tenant.pesanan.TenantOrderDetailActivity" />
        <activity android:name=".tenant.menu.TenantMenuActivity" />
        <activity android:name=".tenant.menu.TenantAddMenuActivity" />
        <activity android:name=".TenantReportActivity" />
        <activity android:name=".tenant.profil.TenantProfileActivity" />
        <activity android:name=".tenant.dashboard.TenantNotificationsActivity" />
        <activity android:name=".tenant.menu.TenantEditMenuActivity"/>
    </application>

</manifest>